body{
	background-color: #B22222;
	margin:0px;
	width: 100%;

}

.header{
	margin:0px;
	height: 400px;
}

.mushroom {
  background: #fff;
  border-radius: 20%;
  height: 4vh;
  margin: 2vh 4vh;
  width: 2vh;
}

.mushroom {
  position: absolute;
  margin: left;
  left: 200px;
  top: 20%;
  background: #fff;
  border-radius: 20%;
  height: 8vh;
  margin: 2vh 4vh;
  width: 4vh;
  animation: mush 3s linear 0s 3;
  animation-iteration-count: infinite;
}

.mushroom:after, .mushroom:before {
  content: "";
  position:absolute;
  margin: left;
}

.mushroom:before {
  background: #c8c3b0;
  border-radius: 4vh 4vh 2vh 2vh;
  height: 4vh;
  margin-left: -3vh;
  width: 10vh;

}

@keyframes mush {
  from {
    left: 80px;
  } 
  to {
    left: 500px;
  } 
}

.mushroom1 {
  background: #fff;
  border-radius: 20%;
  height: 8vh;
  margin: 2vh 4vh;
  width: 4vh;
}

.mushroom1 {
  position:absolute;
  margin: left;
  left: 135px;
  top: 8%;
  background: #fff;
  border-radius: 20%;
  height: 8vh;
  margin: 2vh 4vh;
  width: 4vh;
  animation: mush1 3s linear 0s 3;
  animation-iteration-count: infinite;
}
.mushroom1:after, .mushroom1:before {
  content: "";
  position: absolute;
  margin: left;
}
.mushroom1:before {
  background: #c8c3b0;
  border-radius: 4vh 4vh 2vh 2vh;
  height: 5vh;
  margin-left: -3vh;
  width: 10vh;
}

@keyframes mush1 {
  from {
    left: 0px;
  } 
  to {
    left: 400px;
  } 
}

.mushroom2 {
  background: #fff;
  border-radius: 20%;
  height: 8vh;
  margin: 2vh 4vh;
  width: 4vh;
}

.mushroom2 {
  position: absolute;
  margin: right;
  right: 10px;
  top: 20%;
  background: #fff;
  border-radius: 20%;
  height: 7vh;
  margin: 2vh 4vh;
  width: 4vh;
  animation: mush2 3s linear 0s 3;
  animation-iteration-count: infinite;
}
.mushroom2:after, .mushroom2:before {
  content: "";
  position: absolute;
  margin: right;
  right: 16px;
  top: 20px;
}
.mushroom2:before {
  background: #c8c3b0;
  border-radius: 4vh 4vh 2vh 2vh;
  height: 5vh;
  margin-right: -4.5vh;
  top: -1.5vh;
  width: 10vh;
}


@keyframes mush2 {
  from {
    right: 20px;
  } 
  to {
    right: 180px;
  } 
}

.mushroom3 {
  background: #fff;
  border-radius: 20%;
  height: 8vh;
  margin: 2vh 4vh;
  width: 4vh;
}

.mushroom3 {
  position: absolute;
  margin: right;
  right: 80px;
  top: 4.5%;
  background: #fff;
  border-radius: 20%;
  height: 6vh;
  margin: 2vh 4vh;
  width: 4vh;
  animation: mush3 3s linear 0s 3;
  animation-iteration-count: infinite;
}
.mushroom3:after, .mushroom3:before {
  content: "";
  position: absolute;
  margin: right;
  right: 16px;
  top: 2vh;
}
.mushroom3:before {
  background: #c8c3b0;
  border-radius: 4vh 4vh 2vh 2vh;
  height: 5vh;
  margin-right: -4.8vh;
  top: -3vh;
  width: 10vh;
}


@keyframes mush3 {
  from {
    right: 100px;
  } 
  to {
    right: 300px;
  } 
}

.leaves {
  position: absolute;
  margin: left;
  left: 40px;
  top: 20%;
  background-color: #498749;
  border-radius: 50% 0 50% 0;
  box-shadow: -1vh 0 1vh 0 #8ac059 inset;
  height: 4vh;
  width: 4vh;
  animation: slide 3s linear 0s 3;
  animation-iteration-count: infinite;
}

@keyframes slide {
  from {
    left: 0;
  } 
  to {
    left: 250px;
  } 
}

.leaf1 {
  position: absolute;
  margin: left;
  left: 150px;
  top: 15%;
  background-color: #498749;
  border-radius: 50% 0 50% 0;
  box-shadow: -1vh 0 1vh 0 #8ac059 inset;
  height: 4vh;
  width: 4vh;
  animation: move 3s linear 0s 3;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    left: 250px;
  } 
  to {
    left: 580px;
  } 
}

.leaf2 {
  position: absolute;
  margin: left;
  left: 80px;
  top: 4%;
  background-color: #498749;
  border-radius: 50% 0 50% 0;
  box-shadow: -1vh 0 1vh 0 #8ac059 inset;
  height: 4vh;
  width: 4vh;
  animation: slide1 3s linear 0s 3;
  animation-iteration-count: infinite;
}

@keyframes slide1 {
  from {
    left: 80px;
  } 
  to {
    left: 400px;
  } 
}


.leaf3 {
  position: absolute;
  margin: left;
  right: 40px;
  top: 15%;
  background-color: #498749;
  border-radius: 50% 0 50% 0;
  box-shadow: -1vh 0 1vh 0 #8ac059 inset;
  height: 4vh;
  width: 4vh;
  animation: slide2 3s linear 0s 3;
  animation-iteration-count: infinite;
}

@keyframes slide2 {
  from {
    right: 60px;
  } 
  to {
    right: 350px;
  } 
}

.leaf4 {
  position: absolute;
  margin: left;
  right: 50px;
  top: 20%;
  background-color: #498749;
  border-radius: 50% 0 50% 0;
  box-shadow: -1vh 0 1vh 0 #8ac059 inset;
  height: 4vh;
  width: 4vh;
  animation: slide3 3s linear 0s 3;
  animation-iteration-count: infinite;
}

@keyframes slide3 {
  from {
    right: 300px;
  } 
  to {
    right: 550px;
  } 
}

.leaf5 {
  position: absolute;
  margin: left;
  right: 100px;
  top: 6%;
  background-color: #498749;
  border-radius: 50% 0 50% 0;
  box-shadow: -1vh 0 1vh 0 #8ac059 inset;
  height: 4vh;
  width: 4vh;
  animation: slide4 3s linear 0s 3;
  animation-iteration-count: infinite;
}

@keyframes slide4 {
  from {
    right: 250px;
  } 
  to {
    right: 450px;
  } 
}


.title {
  position: absolute;
  font-family: Tahoma;
  font-size: 50px;
  font-weight: bold;
  width: 600px;
  top: 320px;
  margin-left: 520px;
}

.pizza {
	content: '' ;
  position: absolute;
  margin: left;
  top: 20px;
  right: 20px;
  left: 550px;
  bottom:20px;
  height: 300px;
  width: 300px;
  background-color: #FFB10B;
  border-radius: 50%;
}
.pizza:before{
  content: '' ;
  position: absolute;
  margin: auto;
  top: 20px;
  right: 15px;
  bottom: 20px;
  left: 15px;
  background-color: red;
  border-radius: 50%;
  height: 270px;
  width: 270px;

}

.pizza:after{
  content: '' ;
  position: absolute;
  margin: auto;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 15px;
  background-color: #FFD72C;
  border-radius: 50%;
  height: 240px;
  width: 240px;
}

.pepperoni {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 250px;
  left: 675px;
  bottom: 5px;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #AA4400;
  border-radius: 50%;
  box-shadow: -80px -60px 0 0 #AA4400, -60px -150px 0 0 #AA4400, -30px -100px 0 0 #AA4400, 20px -60px 0 0 #AA4400,
  50px -120px 0 0 #AA4400, 80px -60px 0 0 #AA4400, 100px -100px 0 0 #AA4400,
  -50px -30px 0 0 #AA4400, -10px -170px 0 0 #AA4400, 15px -100px 0 0 #AA4400;
}

.salami {
	z-index: 10;
  position: absolute;
  margin: left;
  top: 250px;
  left: 720px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(45deg);
}
.salami1 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 180px;
  left: 560px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(145deg);
}
.salami2 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 180;
  left: 740px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(55deg);
}
.salami3 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 100px;
  left: 660px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(125deg);
}
.salami4 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 110px;
  left: 700px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(180deg);
}
.salami5 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 250px;
  left: 650px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(45deg);
}
.salami6 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 210px;
  left: 690px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(120deg);
}
.salami7 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 140px;
  left: 630px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(90deg);
}
.salami8 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 90px;
  left: 720px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(45deg);
}
.salami9 {
  z-index: 10;
  position: absolute;
  margin: left;
  top: 200px;
  left: 620px;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 20px;
  border-left: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(180deg);
}

.bubble{
	position: absolute;
	margin: right;
	right: 655px;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	background-color: #22B26A;
	text-align: center;
	font-family: Arial;
	animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: #22B26A;}
  to {background-color:  #fa8072;}
}

.bubble1{
	position: absolute;
	margin: right;
	right: 595px;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	background-color: #fa8072;
	text-align: center;
	font-family: Arial;
	animation: move1 5s infinite;
}

@keyframes move1 {
  from {background-color: #fa8072;}
  to {background-color:  #B26A22;}
}

.bubble2{
	position: absolute;
	margin: right;
	right: 535px;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	background-color: #B26A22;
	text-align: center;
	font-family: Arial;
	animation: m 5s infinite;
}

@keyframes m {
  from {background-color: #B26A22;}
  to {background-color:  #6AB222;}
}

.bubble3{
	position: absolute;
	margin: right;
	right: 475px;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	background-color: #6AB222;
	text-align: center;
	font-family: Arial;
	animation: o 5s infinite;
}

@keyframes o {
  from {background-color: #6AB222;}
  to {background-color:  #B26A22;}
}

.bubble4{
	position: absolute;
	margin: right;
	right: 415px;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	background-color:#B26A22;
	text-align: center;
	font-family: Arial;
	animation: v 5s infinite;
}

@keyframes v {
  from {background-color: #B26A22;}
  to {background-color:  #B2B222;}
}


.bubble5{
	position: absolute;
	margin: right;
	right: 320px;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	background-color: #B2B222;
	text-align: center;
	font-family: Arial;
	animation: e 5s infinite;
}

@keyframes e {
  from {background-color: #B2B222;}
  to {background-color:  #fa8072;}
}

.bubble6{
	position: absolute;
	margin: right;
	right: 260px;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	background-color:  #22B2B2;
	text-align: center;
	font-family: Arial;
	animation: change 5s infinite;
}

@keyframes change {
  from {background-color:  #22B2B2;}
  to {background-color:  #22B26A;}
}

.right {
	position: relative;
	float: right;
	background-size: cover;
	opacity: .9;
	width: 40%;
	height: 500px;
	float: right;
	margin: right;
	margin-top: 20px;
	margin-right: -600px;
	right: 800px;
	font-family: Arial;
	text-align: center;
	font-size: 20px;
	
}


.circ{
	position: absolute;
	margin: left;
	left: 100px;
	top: 1300px;
	width: 300px;
	height: 80px;
	background-color: #f9c00e;
	opacity: 0.7;
	font-family: Arial;
	font-size: 15px;
	color: red;
}
.circ:hover{
	border: 10px solid #f69b17;
}
.box{
	position: absolute;
	margin: left;
	left: 460px;
	top: 1300px;
	width: 500px;
	height: 80px;
	background-color: #f9c00e;
	opacity: 0.7;
	font-family: Arial;
	font-size: 15px;
	color: red;
}
.box:hover{
	border: 10px solid #f69b17;
}

.box1{
	position: absolute;
	margin: left;
	left: 1060px;
	top: 1300px;
	width: 300px;
	height: 80px;
	background-color: #f9c00e;
	opacity: 0.7;
	font-family: Arial;
	font-size: 15px;
	color: red;
}
.box1:hover{
	border: 10px solid #f69b17;
}

.container {
  width: 650px;
  height: 550px;
  position: absolute;
}


.container * {
  position: absolute;
}

*:before,
*:after {
  content: '';
  position: absolute;

}

.p {
  border-style: solid;
  border-width: 495px 250px 0 250px;
  border-color: #f69b17 transparent transparent;
  left: 70px;
  top: 40px;
  border-radius: 60%;
  transform: rotate(55deg);
  z-index: -5;
}
.p:before {
  border-style: solid;
  border-width: 440px 223px 0 223px;
  border-color: #f9c00e transparent transparent transparent;
  left: -223px;
  top: -440px;
  border-radius: 70%;
}
.p:after {
  border-style: solid;
  border-width: 440px 228px 0 228px;
  border-color: red transparent transparent transparent;
  left: -228px;
  top: -450px;
  border-radius: 100%;
  z-index: -1;
}

.circle, .circle:before {
  background-color: #AA4400;
}

.circle {
  width: 75px;
  height: 150px;
  margin: 20px;
  left: -167px;
  top: -395px;
  transform: rotate(-27deg);
  border-radius: 0 75px 75px 0;
}
.circle:before {
  width: 45px;
  height: 90px;
  margin: 20px;
  left: 145px;
  top: 161px;
  border-radius: 0 45px 45px 0;
  transform: rotate(-126deg);
  
}

.circle:after {
  height: 50px;
  width: 50px;
  background: #AA4400;
  border-radius: 50%;
  top: 210px;
  left: 30px;
  box-shadow: 110px -190px 0 #AA4400;
}



.drip {
  transform: rotate(-55deg);
  left: 42px;
  top: -40px;
}

.drip:before {
  left: 40px;
  top: -60px;
}
.drip:after {
  height: 45px;
  left: 92px;
  top: -13px;
  z-index: -1;
  box-shadow: 0px 60px 0 #f9c00e;
}

.drip,
.drip:before,
.drip:after {
  width: 20px;
  height: 130px;
  background: #f9c00e;
  border-radius: 10px;
}

.logo_small{
	position: absolute;
	margin:left;
	top: 1590px;
	left: 900px;
	height: 90px;
	width: 90px;
	background-color:  #f9c00e;
	border-radius: 50%;
}
.logo_small:before{
	position: absolute;
	top: 8px;
	left: 8px;
	height: 75px;
	width: 75px;
	background-color:  red;
	border-radius: 50%;
}
.pepper{
	position: absolute;
	height: 20px;
	width: 20px;
	left:936px;
	top: 1623px;
	background-color:  #AA4400;
	border-radius: 50%;
	box-shadow: -18px 17px 0 0 #008000, 8px 23px 0 0 #808000, 4px -22px 0 0 #AA4400, 
	24px -1px 0 0 #008000, -22px -8px 0 0 #808000;
  animation: spin 10s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}


.footer {
	background: linear-gradient(-45deg, #1034A6, #412588, #A2264B, #D3212D);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding-top: 10px;
	left: 0;
	right: 0;
	width: 100%;
	height: 250px;
	font-family: Arial;
	color: #FFF;
	font-size: 16px;
}
.footer {
	background: linear-gradient(-45deg, #1034A6, #412588, #A2264B, #D3212D);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding-top: 10px;
	left: 0;
	right: 0;
	width: 100%;
	height: 250px;
	font-family: Arial;
	color: #FFF;
	font-size: 16px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fa {
  padding: 20px;
  font-size: 25px;
  height: 20px;
  width: 20px;
  text-align: justify;
  text-decoration: none;
  margin: 2px 2px;
  margin-top: 0px;
  margin-right: 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


